{% extends "base.html.twig" %}

{% block body %}

    {% include '@Catchme/Include/navbar2.html.twig' %}

    <div class="container">
        <div class="jumbotron register">
            <h1>C'est parti ?</h1>

            <h2>{{ challenge.nom }}</h2>

            <p>Catch me if you can !</p>

            <div class="center-block">
                <a class="thumbnail fancybox" rel="ligthbox" href="{{ asset('uploads/images/') }}{{ challenge.image }}">
                    <img class="img-responsive img-circle" alt="" src="{{ asset('uploads/images/') }}{{ challenge.image }}" />
                </a>

            </div>

            {# Affichage de la Zone de recherche #}
            <div class="map">
                <h3>Votre zone de recherche</h3>
                <div id="map" class="center-block"></div>
            </div>

            <p>
                <a class="btn btn-primary" href="{{ path('challenge_validation', { 'id': challenge.id }) }}">J'ai trouvé !</a>

                <a class="btn btn-primary" href="{{ path('challenge_index') }}">Retour à la liste</a>
            </p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}


    {# Javascript gérant l'affichage de la map zone de recherche #}

    <script>
    function initMap() {
        var latDe = {{ latitudeCentre }};
        var longDe = {{ longitudeCentre }};
        var latLong = {lat: latDe, lng: longDe};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: latLong
        });
        var contentString =
            '<div id="content">' +

            '</div>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });


        var optionsCercle = {
            map: map,
            center: map.getCenter(),
            radius: 800,
            strokeColor: "#337AB7",
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillColor: "blue",
            fillOpacity: 0.35
        };
        var monCercle = new google.maps.Circle(optionsCercle);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr10cIoZKJLUnRzAcZQmd9rFNSjRmWLCk&callback=initMap"
        async defer></script>

{% endblock %}
