{% extends "base.html.twig" %}

{% block body %}
    {% include '@Catchme/Include/navbar2.html.twig' %}

    <div class="container">
        <div class="jumbotron register">
            <h1>C'est parti ?</h1>

            <h2>{{ challenge.nom }}</h2>

            <p>Catch me if you can !</p>

            <div class="center-block">
                <a class="thumbnail fancybox" rel="ligthbox" href="{{ asset('uploads/images/') }}{{ challenge.image }}">
                    <img class="img-responsive img-circle" alt="" src="{{ asset('uploads/images/') }}{{ challenge.image }}" />
                </a>

            </div>

            <p>
                <a class="btn btn-primary" href="{{ path('challenge_validation', { 'id': challenge.id }) }}">J'ai trouvé !</a>

                <a class="btn btn-primary" href="{{ path('challenge_index') }}">Retour à la liste</a>
            </p>
        </div>
    </div>
{% endblock %}
