{% extends "base.html.twig" %}

{% block body %}
    {#{% include '@Catchme/Include/navbar2.html.twig' %}#}


<div class="container">
    <div class="jumbotron">
    <h1>J'ai trouvé</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        {#{{ form_label(form.nom) }}#}
        {#{{ form_widget(form.nom) }}#}
        {#{{ form_errors(form.nom) }}#}

        {#{{ form_label(form.description) }}#}
        {#{{ form_widget(form.description) }}#}
        {#{{ form_errors(form.description) }}#}


        {#<label for="catchmebundle_challenge_image_file">Votre image</label>#}
        {#{{ form_widget(form.image.file) }}#}
        {#{{ form_errors(form.image.file) }}#}


            <a class="btn btn-primary" href="{{ path('fos_message_thread_new') }}">Je suis sûr de moi </a>             <a class="btn btn-primary" href="{{ path('challenge_index') }}">Envie d'un autre challenge ?</a>

        {{ form_end(form) }}


    </div>
</div>
{% endblock %}
