<div class="fos_user_user_show">
    <p class="profile"><img src="{{ asset('uploads/images/') }}{{ user.image }}"/></p>
    <p class="profile">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p class="profile">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>
